//assuming default browser settings
//FUNCTIONS
@function pxToRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
  }

  @function pxToEm($value) {
    $emValue: ($value / 16) + em;
    @return $emValue;
  }
  
  //PAGE WIDE MARGINS
  $margin_left_right:10%;
  $margin_left_right_mobile:5%;

//COLORS
  $white:#FFF;
  $light_red:#FF5252;
  $background_dark:#101010;
  $light_grey:#D4D4D4;
  $medium_grey:#949494;
  $bondi_blue:#0097A7;
  $dark_blue:#161E21;



  //WEIGHTS
  $thin_font_weight:100;
  $light_font_weight:300;
  $normal_font_weight:400;
  $medium_font_weight:500;
  $max_font_weight:900;

  //FONT SIZES
  $h2_font_size:pxToRem(24);
 

//MIXINS
  @mixin partialUnderlineForSectionHeading($length)
  { 
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : $length;
    border-bottom:pxToRem(3) solid $bondi_blue;
  
  }
//TYPOGRAPHY

@mixin section-heading-typography {
   position: relative;
  color: $white;
    font-weight: $light_font_weight;
    font-size: pxToRem(36);
    line-height: pxToRem(42);
    text-transform: uppercase;    
  }
 
  @mixin news-title-typography {
    color: $white;
    font-weight: $medium_font_weight;
    font-size: pxToRem(24);
    line-height: pxToRem(28);
    text-transform:capitalize;
    text-decoration: none;
  }

  @mixin news-date-typography {
      font-weight: $normal_font_weight;
      font-size: pxToRem(12);
      color:$medium_grey;
      
  }
  @mixin news-preview-content-typography {
    color: $light_grey;
    font-weight: $normal_font_weight;
    font-size: pxToRem(14);
    line-height: pxToRem(30);   
  }

  @mixin readMore-typography{
      font-weight: $medium_font_weight;
      font-size: pxToRem(14);
      color: $white;
      text-decoration: none;
  }


